<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список документов</title>
    {% load static %}
</head>
<body>
    <h1>Список документов</h1>
    <ul>
        {% for document in documents %}
        <li>
            <h2>{{ document.title }}</h2>
            <p>{{ document.description }}</p>
            <p>Цена: {{ document.price }} ₽</p>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'profile' %}">Вернуться в профиль</a>
</body>
</html>